.test {
    width: 1600px;
    height: 600px;
    position: relative;
    z-index: 0;
  }
  
  .test::before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: " ";
    background-image: linear-gradient(lightGray 2px, transparent 2px), linear-gradient(90deg, lightGray 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: 5px 5px, 5px 5px, 6px 6px, 6px 6px;
    animation: gridWipe 1s linear;
  }
  
  @keyframes gridWipe {
    0% {
      width: 0px;
      height: 0px;
    }
  
    100% {
      width: 100%;
      height: 100%;
    }
  }